.flex-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

:host /deep/ .text {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7 ;

  p:not(:first-child) {
    display: none;
  }

  &.extended-mode {
    padding-bottom: 30px;

    p {
      display: block;
    }
  }
}

img {
  display: block;
}

