@import "stylesheets/tools/colors";

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;

  .nav-item {
    padding: 0 18px;
    font-size: 0.96rem;
    text-transform: uppercase;
    cursor: pointer;
  }
}

:host /deep/ .service-icon {
  svg {
    width:30px;
    height:30px;
    margin: 0 10px;
  }
}

ul {
  padding: 0 10px;
  list-style-type: none;

  li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;

    .svg-arrow {
      fill: #666666;
    }

    a {
      width: 100%;
      margin-left: 6px;
      line-height: 3;

    }

    &:hover {
      cursor: pointer;

      svg {
        fill: theme-colors('primary');
      }

      a {
        color: theme-colors('primary', '600');
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
