<nav>
  <app-popup-menu style="margin-right: 10px;">
    <ul>
      <li *ngFor="let serviceItem of serviceList">
        <div [innerHTML]="serviceItem.svg"></div>
        <a>{{ serviceItem.title }}</a>
        <svg style="width:30px;height:30px" viewBox="0 0 24 24">
          <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
        </svg>
      </li>
    </ul>
  </app-popup-menu>
  <div *ngFor="let navItem of navigationList" class="nav-item">
    {{ navItem.title }}
  </div>
</nav>
