.flex-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-block {
  width: 100%;

  input {
    width: 100%;
  }
}

.please-call {

  .title {
    line-height: 2.2rem;
    margin-bottom: 24px;
    font-size: 1.2rem;
  }

  .phone {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    min-width: 280px;
    padding: 20px 30px;
    border-radius: 6px;
    box-shadow: 0 0 16px 3px rgba(0,0,0,0.2);

    svg {
      margin-left: 20px;
    }
  }
}
