<section style="padding: 40px 0;">

  <h2>Нужна консультация?</h2>
  <div class="h2-subtitle">Запишитесь и мы ответим на ваши вопросы</div>

  <div class="flex-row" style="margin-top: 40px;">

    <div style="width: 50%;">
      <form [formGroup]="contactForm" class="base-md">
        <div class="radio-inline">
          <input formControlName="contactWay" type="radio" value="call" id="select-call"/>
          <label for="select-call">Позвонить мне</label>
        </div>
        <div class="radio-inline">
          <input formControlName="contactWay" type="radio" value="map" id="select-map">
          <label for="select-map">Хочу к вам прийти</label>
        </div>
        <div>
          <input formControlName="phoneNumber" type="text"/>
        </div>
      </form>
    </div>

    <div style="width: 50%;">
      asdf
    </div>

  </div>

</section>
