@import "stylesheets/tools/colors";

.first-section {
  padding: 40px 0 130px;
  background-color: theme-colors('tertiary');
}

.second-section {
  background: theme-colors('primary') url('/assets/img/texture_tooth_for_green.png');
}

.third-section {
  padding-bottom: 100px;
  background-color: theme-colors('tertiary');
}

.fourth-section {
  background: theme-colors('secondary') url('/assets/img/texture_tooth_for_yellow.png');
}

.sixth-section {
  min-height: 300px;
  background-color: theme-colors('tertiary');
}
