@import "stylesheets/tools/colors";

.first-section {
  padding: 40px 0 130px;
  background-color: theme-colors('tertiary');
}

.second-section {
  background-color: theme-colors('primary');
}

.third-section {
  padding-bottom: 100px;
  background-color: theme-colors('tertiary');
}

.fourth-section {
  background-color: theme-colors('secondary');
}

.sixth-section {
  min-height: 300px;
  background-color: theme-colors('tertiary');
}
