<section style="padding-bottom: 50px;">
  <h2>{{ mainDirections.title }}</h2>
  <div [innerHTML]="mainDirections.text" class="h2-subtitle"></div>
  <div class="flex-row" style="margin-top: 40px;">
    <div *ngFor="let direction of mainDirections.directionList" class="wrap-direction">
      <div class="direction">
        <div [innerHTML]="direction.svg | safeHtml" class="icon"></div>
        <div>
          <a [routerLink]="direction.routerLink">
            {{ direction.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
