@import "./tools/colors";

.btn {
  z-index: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  min-width: 3rem;
  max-width: 15rem;
  padding: .6rem .5rem;
  font-size: .8rem;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  letter-spacing: .12em;
  border: 1px solid;
  border-radius: .125rem;
  user-select: none;

  .icon {
    display: inline-block;
    margin: 0;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    transform: translate3d(0,-.08333rem,0);

    &>* {
      height: 100%;
      width: 100%;
      display: block;
      pointer-events: none;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &.btn-lg {
    max-width: 20rem;
    padding: 1rem 2rem;
  }

  &.btn-primary {
    color: #ffffff;
    background-color: theme-colors('primary');
    border-color: theme-colors('primary');

    &:hover {
      background-color: theme-colors('primary', '600');
    }

    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
    }

    &:active {
      border-top: 1px solid #333333;

      &:before {
        background-color: #555555;
      }
    }
  }

  &.btn-success {

  }

  &.btn-warning {

  }



}
