@import "./tools/media";

.content-block {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  @include oldDesktop {
    width: 1000px;
  }

  &.margin-top {
    top: -80px;
  }
}

.content-block-right {
  position: relative;
  top: -100px;

  .content-block{
    padding: 50px 50px 0;
    background-color: white;
  }

  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    right: 0;
    height: 100%;
    width: 50%;
    background-color: white;
  }
}
