@import "./tools/media";

.content-block {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  @include oldDesktop {
    width: 1000px;
  }

  &.margin-top {
    top: -80px;
  }
}

/*.content-block-right {
  position: relative;
  min-height: 200px;
  width: 1300px;
  margin: 0 auto;
  background-color: white;

  @include oldDesktop {
    width: 1100px;
  }

  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    right: 0;
    height: 100%;
    width: 50%;
    transform: translate(100%, 0);
    background-color: white;
  }
}

.content-block-test {
  &:before {
    z-index: -1;
    position: absolute;
    content: '';
    right: 0;
    height: 100%;
    width: 50%;
    transform: translate(100%, 0);
    background-color: white;
  }
}*/
