h1 {
  width: 560px;
  margin: 0;
  padding: 3rem 0;
  font-size: 2.9rem;
  font-weight: 200;
}

h2 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #333333;
}
