h1 {
  width: 560px;
  margin: 0;
  padding: 3rem 0;
  font-size: 2.9rem;
  font-weight: 200;
}

h2 {
  margin: 0;
  padding-bottom: 0.9rem;
  font-size: 2.2rem;
  font-weight: 200;
  color: #000;
}

.h2-subtitle {
  font-weight: 300;
  font-size: 1.1rem;
  color: #666;
}

h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: left;
}
