<section class="app">
  <div class="main-container">

    <header class="page-header">
      <div class="content-block">
        <app-header-logo></app-header-logo>
      </div>
      <div class="content-block">
        <app-header-navigation
          [serviceList]="serviceNavigation">
        </app-header-navigation>
      </div>
    </header>

    <section>
      <router-outlet></router-outlet>
    </section>

    <footer class="base-footer">
      <div class="content-block">
        <app-footer-base></app-footer-base>
      </div>
    </footer>

  </div>
</section>
