$theme-color-key: '400' !default;

$theme-colors: (
	'primary': (
    '200': #bcdea1,
    '400': #78bd40,
    '600': #509b2b,
	),
	'secondary': (
    '400': #ffcc00
	),
  'tertiary': (
    '400': #f5f5f5
  ),
	'success': (
		'400': #4CAF50
	),
	'warn': (
		'400': #F44336,
		'light': #FF8A80
	),
	'font': (
		'400': #222222,
		'light': #ffffff,
		'dark': #42505C
	),
	'standart': (
		'grayStandart': #f5f5f5,
    'grayLight': #D8DCDF,
	)
);

$main-opacity: (
	'light': 0.8,
	'dark': 0.4,
);

@function theme-colors(
	$name: 'primary',
    $variant: $theme-color-key,
    $opacity: 1
) {
	$color: null;

	// Get the color spectrum
	$color-spectrum: map-get($theme-colors, $name);

	// Get the color variant
	@if $color-spectrum {
		$color: map-get($color-spectrum, $variant);
	}

	// Get the alpha setting
	$alpha: if(type-of($opacity) == 'number', $opacity, map-get($main-opacity, $opacity));

	// Set the alpha of the color
	@if $alpha {
		$color: rgba($color, $alpha);
	}

	@return $color;
}

/*
background-color: theme-colors('primary');
background-color: theme-colors('primary', 'light');
background-color: theme-colors('primary', $opacity: 'light');
*/
