@import 'stylesheets/tools/colors';

.flex-row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 40px;
}

.issue-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &:after {
    content: "Популярные вопросы";
    position: absolute;
    margin-top:-20px;
    top: 50%;
    left: -20px;
    color: #D7D7D7;
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(-90deg) translate(-50%, 0);
    transform-origin: left bottom 0;
  }

  li {
    position: relative;
    padding: 14px;
    margin-top: 12px;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.07);
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    svg {
      position: absolute;
      top: 6px;
      right: 10px;
    }
  }
}

.green-box {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 200;
  background-color: theme-colors('primary');
  border-radius: 4px;

  .frame{
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    border: 1px dashed white;
    border-radius: inherit;
  }

  svg {
    width: 100px;
    margin: 40px 0 20px;
  }

  .text {
    font-size: 2rem;
  }

  .link {
    font-size: 1rem;
    line-height: 3;
  }
}
