@import 'stylesheets/tools/colors';

.swiper-slide {
  width: 500px;
  height: 249px;
}

.slide-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-wrapper {
  margin: 27px 29px;
  padding: 20px 30px;
  height: 156px;
  border: 1px solid #78bd40;
}

.text {
  padding-top: 18px;
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
}

.swipe-logo {
  position: absolute;
  left: 80px;
  bottom: 0;
  height: 32px;
  width: 32px;
  fill: theme-colors('tertiary', $opacity: 'standart');
}

:host /deep/ .swiper-container {
  padding: 46px 0;

  .swiper-pagination-progressbar {
    top: unset;
    bottom: 12px;
    left: 18%;
    right: 18%;
    width: auto;
    height: 3px;
  }

  .swiper-pagination-progressbar-fill {
    background-color: theme-colors('secondary');
  }

  .swiper-custom-next, .swiper-custom-prev {
    width: 32px;
    height: 32px;
    top: unset;
    bottom: 0;
    transform: unset;
    fill: theme-colors('primary');
    background-color: theme-colors('tertiary', $opacity: 'standart');
  }

  .swiper-custom-next {
    right: 60px;
  }

  .swiper-custom-prev {
    left: unset;
    right: 100px;
  }

  .swiper-slide {

    .content-wrapper {
      color: white;
      border-color: white;
    }

    .slide-wrapper {
      background-color: rgba(120,189,64,0.7);
    }
  }

  .swiper-slide-active {

    .content-wrapper {
      color: black;
      border-color: black;
    }
    .slide-wrapper {
      background-color: transparent;
    }
  }
}
