.component {
  position: relative;
}

.text {
  width: 570px;
  line-height: 1.6;
  font-size: 1.2rem;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-wrapper {
  padding: 3.8rem 0;
}
