/* You can add global styles to this file, and also import other style files */
@import "stylesheets/fonts/SF-Regular";
@import "stylesheets/fonts/SF-Light";
@import "stylesheets/fonts/SF-Thin";

@import "stylesheets/normalize.scss";

@import "stylesheets/headers.scss";
@import "stylesheets/content.scss";
@import "stylesheets/buttons.scss";

body {
  font-family: 'San Francisco';
}

.main-container {
  position: relative;
  width: 100%;
}

.page-header {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #D7D7D7;
  box-shadow: 0 4px 0 0 #D7D7D7;
}

.page-section {
  z-index: 0;
  position: relative;
  overflow-x: hidden;
  min-height: 300px;
}
