/* You can add global styles to this file, and also import other style files */
@import "stylesheets/fonts/SF-Regular";
@import "stylesheets/normalize.scss";

body {
  font-family: 'San Francisco';
}

.main-container {
  position: relative;
  width: 100%;
}

.content-block {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #D7D7D7;
  box-shadow: 0 4px 0 0 #D7D7D7;
}
