@font-face {
  font-family: 'San Francisco';
  src: url('/assets/fonts/SF-Light/SFUIDisplay-Light.eot');
  src: url('/assets/fonts/SF-Light/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SF-Light/SFUIDisplay-Light.woff') format('woff'),
       url('/assets/fonts/SF-Light/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
