@font-face {
  font-family: 'San Francisco';
  src: url('/assets/fonts/SF-Thin/SFUIDisplay-Thin.eot');
  src: url('/assets/fonts/SF-Thin/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/SF-Thin/SFUIDisplay-Thin.woff') format('woff'),
       url('/assets/fonts/SF-Thin/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
